alembic==1.16.5
amqp==5.3.1
backports-datetime-fromisoformat==2.0.3
billiard==4.2.2
blinker==1.9.0
celery==5.5.3
cfgv==3.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
distlib==0.4.0
filelock==3.19.1
Flask==3.1.2
flask-cors==6.0.1
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
flask-talisman==1.1.0
identify==2.6.14
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.5.4
Mako==1.3.10
MarkupSafe==3.0.2
marshmallow==4.0.1
marshmallow-sqlalchemy==1.4.2
nodeenv==1.9.1
packaging==25.0
platformdirs==4.4.0
pre_commit==4.3.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
PyYAML==6.0.2
six==1.17.0
SQLAlchemy==2.0.43
tomli==2.2.1
typing_extensions==4.15.0
tzdata==2025.2
vine==5.1.0
virtualenv==20.34.0
wcwidth==0.2.14
Werkzeug==3.1.3
zipp==3.23.0
